{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 100px;">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="container d-flex justify-content-center">
                <div class="card p-3 bg-white text-end">
                    <div class="row justify-content-between">
                        <div class="col-2">
                            <img src="https://img2.pngdownload.id/20180529/prp/kisspng-general-mobile-gm-6-telephone-android-one-general-general-mobile-5b0ce33cdfac50.5338485315275712609162.jpg"
                                , width="200px">
                        </div>
                        <div class="col-6">
                            <h3>Hadeh bingung</h3>
                            <h4>From A to Z and from 0 to 1</h4>
                            <p>Find your best and top quality electronic goods here</p>
                        </div>
                        <div class="col-3">
                            <h1>bismillah</h1>
                            <p>Find your best and top quality electronic goods here</p>
                            <button class="btn btn-danger">See Review</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock content %}